
<!--ユーザ情報-->
<%= render 'users/info', user: @user %>
<!--投稿フォーム-->
<%= render 'books/form', book: @book %>
<h2>Books</h2>
<table class="table">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        Title
      </th>
      <th>
        Opinion
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>